
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Email from Jimmy Estates Site </h1>
    <h2>Home Worth Inquiry </h2>
    <p>
      <strong>From:</strong> <%= @home_worth.name %><br>
      <strong>Email:</strong> <%= @home_worth.email %><br>
      <strong>Phone:</strong> <%= @home_worth.phone %><br>
      <strong>Address:</strong> <%= @home_worth.address %><br>
    </p>
    <p>
    <strong>Message:</strong><br><%= @home_worth.message %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>

