
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Email from Jimmy Estates Site </h1>
    <h2>Home Worth Inquiry </h2>
    <p>
      From: <%= @home_worth.name %><br>
      Email: <%= @home_worth.email %><br>
      Phone: <%= @home_worth.phone %><br>
      Best time to call: <%= @home_worth.time %><br>
      Address: <%= @home_worth.address %><br>
      Square Footage: <%= @home_worth.squarefootage %><br>
      Number of Bedrooms: <%= @home_worth.numberbedrooms %><br>
      Number of Bathrooms: <%= @home_worth.numberbathrooms %><br>
      Property Type: <%= @home_worth.propertytype %><br>
      Additional Features: <%= @home_worth.addfeatures %><br>
    </p>
    <p>
      Message:<br><%= @home_worth.message %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>

